@import 'reset-css/sass/reset';

@import '_mixins.scss';
@import '_vars.scss';
@import '_breakpoints.scss';

@include font(Inter, "Inter-Light", "300", "normal");
@include font(Inter, "Inter-Regular", "400", "normal");
@include font(Inter, "Inter-Medium", "500", "normal");
@include font(Inter, "Inter-SemiBold", "600", "normal");
@include font(Inter, "Inter-Bold", "700", "normal");
@include font(Inter, "Inter-ExtraBold", "800", "normal");

:root {
    --whiteLightness: 100%;
    --color-red: #FF0000;
    --color-black: #000000;
    --color-golden-tainoi: hsl(40, 100%, 68%);
    --color-golden-tainoi-darken: hsl(40, 100%, calc(68% - 20%));
    --color-white: hsl(0, 0%, 100%);
    --color-gallery: hsl(0, 0%, calc(var(--whiteLightness) - 7%));
    --color-shuttle-gray: hsl(219, 10%, 40%);
    --color-gray11: hsl(219, 10%, calc(var(--whiteLightness) - 93%));
    --color-fiord: #3F4E65;
    --color-malachite: #1FD85D;
}

html {
    font-size: 10px;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit
}

body {
    overflow-x: hidden;
    min-width: 320px;
    min-height: 100vh;
    font-family: $font-family-inter;
    color: var(--color-gray11);
    font-size: $fontsize;
    line-height: $lineheight;
    font-weight: 400;
    background: #fff;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: none;
}

svg {
    //display: block;
    flex: 0 0 auto;
    fill: currentColor;
}

img {
    vertical-align: top;
    max-width: 100%;
    user-select: none;
}

button {
    display: inline-block;
    outline: none;
    border: none;
    padding: 0;
    font-family: $font-family-inter;
    font-size: $fontsize;
    color: var(--color-gray11);
    background: transparent;
    cursor: pointer;
}


.breadcrumbsItem {
    opacity: 0.6;
}











