@import '_breakpoints.scss';

.wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include tablet {
        width: 100%;
        justify-content: center;
    }

    @include mobile-hr {
        display: none;
    }
}