@import "breakpoints";

.wrapper {
    flex: 0 1 calc(100% - 250px - 100px);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    // delete
    padding-bottom: 100px;

    @include desktop {
        flex: 0 1 calc(100% - 250px - 50px);
    }

    @include tablet {
        flex: 1 1 100%;
    }
}

.item {
    flex: 0 1 calc(100% / 3 - (20px * 2 / 3));
    max-width: calc(100% / 3 - (20px * 2 / 3));
    padding-bottom: 20px;

    &:not(:nth-child(3n)) {
        margin-right: 20px;
    }

    @include laptop {
        flex: 0 1 calc(100% / 2 - 10px);
        max-width: calc(100% / 2 - 10px);

        &:not(:nth-child(3n)) {
            margin-right: 0;

        }

        &:not(:nth-child(2n)) {
            margin-right: 20px;
        }

    }

    @include mobile-hr {
        flex: 1 1 100%;
        max-width: 100%;

        &:not(:nth-child(2n)) {
            margin-right: 0;
        }

    }
}