$fontsize: 1.4rem;
$lineheight: 1.5;

$font-primary: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$font-family-inter: "Inter", sans-serif;

$desktop-xl: 1440;
$desktop: 1200;
$laptop: 992;
$tablet: 768;
$mobile-hr: 576;
$mobile: 320;
$desktop-vh: 750;


