
.counterWrapper {
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.count {
    display: block;
    padding: 0 15px;
    min-width: 50px;
    text-align: center;
}