@import "breakpoints";

.wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon_wrapper {
    position: relative;
}

.text_wrapper {
    padding-left: 1.5rem;
    min-width: 60px;

    @include mobile-hr {
        display: none;
    }

}

.count {
    position: absolute;
    top: -6px;
    right: -12px;
    background: var(--color-golden-tainoi);
    //width: 22px;
    padding: 4px 6px;
    border: 1px solid var(--color-white);
    line-height: 1;
    height: 22px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 50%;
    color: (var(--color-white));
    display: flex;
    align-items: center;
    justify-content: center;
}