.button {
    background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
    border-radius: 1000px;
    border: none;
    outline: none;
    cursor: pointer;
    min-width: 35px;

    &:hover,
    &:focus,
    &:active {
        
    }
}