@import '_breakpoints.scss';

.wrapper {
    height: auto;
}


.separator {
    display: inline-block;
    width: 1px;
    opacity: 0.1;
    border-left: 1px dashed var(--color-fiord);
}

.horizontal .separator {
    width: 100%;
    height: 1px;
    border-left: 0;
    border-top: 1px dashed var(--color-fiord);;
}

.s0 {
    padding: 0;
}

.s10 {
    padding: 0 10px;
}


.s20 {
    padding: 0 20px;
}


.s25 {
    padding: 0 25px;
}

.s30 {
    padding: 0 30px;
}

@include laptop {
    .l0 {
        padding: 0;
    }

    .l10 {
        padding: 0 10px;
    }


    .l20 {
        padding: 0 20px;
    }

    .l25 {
        padding: 0 25px;
    }

    .l30 {
        padding: 0 30px;
    }

}

@include tablet {
    .t0 {
        padding: 0;
    }

    .t10 {
        padding: 0 10px;
    }


    .t20 {
        padding: 0 20px;
    }

    .t25 {
        padding: 0 25px;
    }

    .t30 {
        padding: 0 30px;
    }

}


@include laptop {
    .l0 {
        padding: 0;
    }

    .l10 {
        padding: 0 10px;
    }


    .l20 {
        padding: 0 20px;
    }

    .l10 {
        padding: 0 25px;
    }

    .l30 {
        padding: 0 30px;
    }

}


