@import "breakpoints";

.title {
    color: var(--color-gray11);
    font-weight: 500;
    font-size: 4rem;
    padding-top: 5px;
    padding-bottom: 25px;

    @include tablet {
        text-align: center;
        padding-top: 25px;
    }

    @include mobile-hr {
        font-size: 2rem;
        text-align: center;
    }

}