@import '_breakpoints.scss';

.wrapper {
    display: flex;
    align-items: center;

}


.text {
    padding-left: 18px;

    @include laptop {
        padding-left: 10px;
    }

    span {
        display: block;
    }
}